@{
    ViewData["Title"] = "Trails";
}
@using LostWoods.Models;
@model Trail;

<div class="text-center">
    <div class="bg-primary text-white rounded">
        <h1>Mailbox Peak</h1>
        <p class="d-flex flex-row flex-row-reverse mr-2 p-1">List of Hiking Trails near Seattle</p>
    </div>
    <div class="d-flex flex-row p-2 m-2" >  
        <div class="card p-2 m-2 rounded">
            <div class="card-header">
                <div class="title  text-primary"><h2>@Model.TrailName</h2></div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column" >
                    <div class="p-2 bd-highlight text-primary">
                        <h5>@Model.Description.Split("--")[0]</h5>
                        <h6>@Model.Description.Split("--")[1].Split(':')[0]</h6>
                    </div>
                    <div class="p-2 bd-highlight text-justify">
                        <h4>@Model.Description.Split(':')[1]</h4>
                    </div>
                    <div class="p-2 bd-highlight text-justify">
                        <h5>Trail Length: </h5>
                        <div class="pl-8 text-center col-5">@Model.Length miles roundtrip</div>
                    </div>
                    <div class="p-2 bd-highlight text-justify">
                        <h5>Elevation Gain:</h5>
                        <div class="pl-8 text-center col-6">@Model.ElevationGain ft</div>
                    </div>
                    <div class="p-2 bd-highlight text-justify">
                        <h4>Max elevation: </h4>
                        <div class="pl-8 text-center col-6">@Model.MaxElevation ft</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-2 m-2 col-6 rounded">
            <div class="card-header">
                <div class="title text-primary"><h2>Location</h2></div>
            </div>
            <div class="card-body">
                
                <div class="d-flex flex-column embed-responsive embed-responsive-4by3 mb-3  rounded">
                    <iframe class="embed-responsive-item" src="@Model.TrailMap"  frameborder="2" style="border:2" allowfullscreen>
                    </iframe>
                </div>
            </div>        
            <div class="card-footer">
                <div class="d-flex flex-row justify-content-between mb-3">
                   <div class="d-flex ">Logitude  @Model.Longitude</div>
                   <div class="d-flex ">Latitude  @Model.Latitude</div>
                </div>
            </div>
        </div>
    </div>  
</div>
