@{
    ViewData["Title"] = "Home Page";
}
@{
    var location = ViewBag.location;
    var language = ViewBag.language;
}
<div class="row">
    <div class="col-2"></div>    
    <div class="card border-primary mb-4 col-6" >                
        <div class="card-body">
                            <!-- Default form contact -->
            <form class=" border border-light p-5" action="CommentResult" method="post">

                <p class="h4 mb-4 text-center">Dojo Survey Index</p>

                <!-- Name -->
                <input type="text" id="defaultContactFormName" class="form-control mb-4" name="name"  
                    required="required" placeholder="Name">

                <!-- Subject -->
                <label>Dojo Location</label>
                <select class="browser-default custom-select mb-4" name="location">
                    @{
                        var i = 0;
                        foreach(string city in location){
                            if(i == 0){
                                <option value="@city" selected >@city</option>
                                i++;
                            }
                            <option value="@city" >@city</option>
                            i++;
                        }
                    }
                </select>

                <!-- Favorite Language -->
                <label>Favorite Language</label>
                <select class="browser-default custom-select mb-4" name="language">
                    @{
                        var j = 0;
                        foreach(string favLanguage in language){
                            if(j == 0){
                                <option value="@favLanguage" selected >@favLanguage</option>
                                j++;
                            }
                            <option value="@favLanguage" >@favLanguage</option>
                            j++;
                        }
                    }
                </select>

                <!-- Message -->
                <div class="form-group">
                    <label class="justified">Comment (Optional):</label>
                    <textarea class="form-control rounded-0" name="message" id="comment" rows="5" placeholder="Comment (Optional): ">
                    </textarea>
                </div>

                <!-- Send button -->
                <button class="btn btn-info btn-block col-2 " type="submit">Send</button>

            </form>
        </div>
    </div>    
</div>
